/node_modules
/public/hot
/public/gallery
/public/storage
/storage/*.key
/vendor
/bootstrap
/tests
/storage
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
artisan
package.json
phpunit.xml
server.php
webpack.mix.js
yarn.lock
composer.json
composer.lock
