/node_modules
/public/hot
/public/gallery
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
package.json
webpack.mix.js
yarn.lock
composer.lock
/public/32779c721995.html
/nbproject/
